<!DOCTYPE html>

<html lang="es">

<head>
    <title>Servientrega store</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://rawgithub.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="fonts/stylesheet.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
<section id="pagepiling">
<div class="container-fluid aa_container-fluid section pp-scrollable" id="se_container-1">
<div class="row border_servi">
  <div class="col-md-2">
    <img src="img/camion.png" class="img-responsive">
  </div>
  <div class="col-md-8">
    <img src="img/title.png" class="img-responsive">
  </div>
  <div class="col-md-2">
    <img src="img/logo-small.png" class="img-responsive">
  </div>
</div>
    <div class="row">
      
        <div class="col-md-6  text-center">
           <div class="container-fluid">
             <div class="row">
               <div class="col-md-12 container_steps">
               <div class=" container-fluid ">
               <div class="col-md-12 icon_servi_central ">
               <div class="cont">
                 <img class="img-responsive" src="img/centro.png">
               </div>
                     
                   </div>
                 <ul class="row container-menu nopad"  >
                 <li data-menuanchor="firstPage">
                 <a href="#se_container-2"  class="col-md-2 nopad icon_servi" id="90">
                      <img class="img-responsive" src="img/icon_9.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="10">
                      <img class="img-responsive" src="img/icon_1.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="20">
                      <img class="img-responsive" src="img/icon_2.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="30">
                      <img class="img-responsive" src="img/icon_3.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="40">
                      <img class="img-responsive" src="img/icon_4.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="50">
                      <img class="img-responsive" src="img/icon_5.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="60">
                      <img class="img-responsive" src="img/icon_6.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="70">
                      <img class="img-responsive" src="img/icon_7.png">
                   </a>
                   </li>
                   <li data-menuanchor="firstPage">
                   <a class="col-md-2 nopad icon_servi" id="80">
                      <img class="img-responsive" src="img/icon_8.png">
                   </a>
                   </li>
                   
                 </ul>
               </div>
                
               </div>
             </div>
           </div>
          

           
        </div>
       <div class="col-md-4 col-md-offset-1">
                        <div class="panel panel-default panel-default_servi" >
                           

                            <div class="panel-body">
                                                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                        <form method="POST" action="http://tendaz.local/auth/register" accept-charset="UTF-8" name="form-register" data-toggle="validator" role="form" novalidate="true">
                                        <h2>REGISTRATE</h2>
    <div class="form-group  text-left">
    <label>Correo electronico :</label>
        <div class="input-group">
        
       <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
       </span>
            <input  class="form-control" placeholder="" autocomplete="off" required="" name="email" value="" type="email">
        </div>
    </div>
    <div class="form-group text-left">
     <label>Nombre de tu tienda :</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa  fa-bars"></i>
            </span>
            <input  class="form-control" placeholder="" autocomplete="off" value="" required="required" name="storename" type="text">
        </div>
        <div class="help-block"></div>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group text-left">
     <label>Contraseña :</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key"></i>
            </span>
            <input  class="form-control" placeholder="" autocomplete="off" required="required" name="password" type="password" value="">
        </div>
        <div class="help-block"></div>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <input required="required" name="term" type="checkbox">
        <strong>Acepto los terminos y condiciones</strong>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary make_tendaz">
            <i class="fa fa-shopping-cart"></i> Crear tienda
        </button>
    </div>
<input type="hidden" value="1" name="remember">
</form>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <footer class="col-md-12">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                  <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
    </div>
</div>
<!-- <div class="container-fluid aa_container-fluid section pp-scrollable" id="se_container-2">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
       
        
</div> -->
</section>

</body>

        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>

         <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
           <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js

                     "></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
       <script type="text/javascript" src="js/pagepilling.js"></script>
        <script type="text/javascript" src="js/jquery.imageScroll.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>

        <script type="text/javascript" src="js/main.js"></script>
</html>
