<div ng-include="global.navUrl"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 step-Indicator">
                        <div class="number">
                            <div>1</div>
                        </div>
                        <p>CARRITO DE COMPRAS</p>
                    </div>
                    <div class="col-md-3 step-Indicator">
                        <div class="number">
                            <div>2</div>
                        </div>
                        <p>INGRESA TU CORREO</p>
                    </div>
                    <div class="col-md-3 step-Indicator active">
                        <div class="number">
                            <div>3</div>
                        </div>
                        <p>ENV&Iacute;O Y PAGO</p>
                    </div>
                    <div class="col-md-3 step-Indicator">
                        <div class="number">
                            <div>4</div>
                        </div>
                        <p>PEDIDO CONFIRMADO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 divider"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 form_separator" ng-show="!usuarioData">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="glyphicon glyphicon-user"></i> Identificaci&oacute;n</h3>
                              <span>
                              Solicitamos &uacute;nicamente la informaci&oacute;n esencial para la finalizaci&oacute;n de la compra.
                              </span>
                    </div>
                    <form ng-submit="updateProfile(profileForm)" name="profileForm" novalidate>
                        <div class="form-group col-md-12">
                            <label for="exampleInputPassword1">Correo</label>
                            <input type="email" class="form-control"  name="email" ng-model="carts.customer.data.email" placeholder="Correo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Nombre</label>
                            <input type="name" class="form-control"  name="name" ng-model="carts.customer.data.personal_info.first_name" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Apellidos</label>
                            <input type="name" class="form-control"  name="last_name" ng-model="carts.customer.data.personal_info.last_name" placeholder="Apellidos">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Cedula de ciudadania</label>
                            <input type="text" ng-model="carts.customer.data.personal_info.identification" name="identification" class="form-control"  placeholder="c.c">
                            <label for="exampleInputPassword1">Telefono/Movil</label>
                            <input type="text" class="form-control"  ng-model="carts.customer.data.personal_info.phone" placeholder="# telefono">
                        </div>
                        <div class="col-md-12">
                            <button  class="btn btn_checkout" type="submit">Continuar compra</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--
           <div class="col-md-4 form_separator " id="separator2" ng-show="envioData">

           </div> -->
        <div class="col-md-4">
            <div class="container-fluid form_separator "ng-show="envioData">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="glyphicon glyphicon-home"></i> Direcci&oacute;n de env&iacute;o</h3>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Direcci&oacute;n</label>
                        <input type="address" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Piso o apartamento (ej: B201)</label>
                        <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Opcional">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Barrio</label>
                        <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Opcional">
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Departamento</label>
                        <select class="form-control">
                            <option>Cundinamarca</option>
                            <option>Cundinamarca</option>
                            <option>Cundinamarca</option>
                            <option>Cundinamarca</option>
                            <option>Cundinamarca</option>
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Ciudad</label>
                        <select class="form-control">
                            <option>Bogota</option>
                            <option>Bogota</option>
                            <option>Bogota</option>
                            <option>Bogota</option>
                            <option>Bogota</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Nombre persona remitente</label>
                        <input type="name" class="form-control"  placeholder="">
                    </div>
                    <div class="col-md-12">
                        <button step-next class="btn btn_checkout " ng-click="datosDireccion()">Continuar compra</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid form_separator " id="separator" ng-show="!envioData">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="glyphicon glyphicon-home"></i> Direcci&oacute;n de env&iacute;o</h3>
                        <p>Aún debes llenar estos datos</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid form_separator " >
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="glyphicon glyphicon-credit-card"></i> Pago</h3>
                        <div ng-show="!tarjetaData">
                            <p>A&uacute;n debes llenar estos datos</p>
                        </div>
                        <div class="container-fluid" ng-show="tarjetaData">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Elige un metodo de pago</label>
                                </div>

                                <div class="col-md-4">
                                    <div class="radio container-fluid">
                                        <label class="row">
                                            <div class="col-md-12">
                                                <input type="radio" name="optionsRadios"  value="option1" checked>

                                            </div>
                                            <div class="col-md-12">

                                                <img class="payImage" src="checkout-comp/images/pay2.png">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio container-fluid">
                                        <label class="row">
                                            <div class="col-md-12">
                                                <input type="radio" name="optionsRadios"  value="option1" checked>

                                            </div>
                                            <div class="col-md-12">

                                                <img class="payImage" src="checkout-comp/images/jilala.png">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio container-fluid">
                                        <label class="row">
                                            <div class="col-md-12">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>

                                            </div>
                                            <div class="col-md-12">

                                                <img class="payImage" src="checkout-comp/images/lll1.png">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
