
      <steps>
         <step>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 header_he"></div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-3 step-Indicator active">
                              <div class="number">
                                 <div>1</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>2</div>
                              </div>
                              <p>INGRESA TU CORREO</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>3</div>
                              </div>
                              <p>ENVÍO Y PAGO</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>4</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 divider"></div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 text-center">
                     <p>
                        <b>PRODUCTO</b>
                     </p>
                  </div>
                  <div class="col-md-8">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-2 text-center">
                              <p>
                                 <b>
                                 ENVÍO
                                 </b>
                              </p>
                           </div>
                           <div class="col-md-4 text-center">
                              <p>
                                 <b>
                                 PRECIO
                                 </b>
                              </p>
                           </div>
                           <div class="col-md-2 text-center">
                              <p>
                                 <b>
                                 CANTIDAD
                                 </b>
                              </p>
                           </div>
                           <div class="col-md-4 text-center">
                              <p>
                                 <b>
                                 TOTAL
                                 </b>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-4">
                              <img src="http://ishopcolombia.vteximg.com.br/arquivos/ids/160982-80-80/iPadPro_WiFi_PF_Gld_CO-ES-SCREEN-1.jpg">
                           </div>
                           <div class="col-md-8 padd_prod_cart">
                              <a href="#">Nombre del producto</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-2 text-center padd_prod_cart">
                              A calcular
                           </div>
                           <div class="col-md-4 text-center padd_prod_cart">
                              $ 5.049.000,00
                           </div>
                           <div class="col-md-2 text-center padd_prod_cart">
                              -<input type="number" class="counter" name="">+
                           </div>
                           <div class="col-md-4 text-center padd_prod_cart">
                              $ 5.049.000,00
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-12 divider"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-8 col-md-offset-4">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="col-md-12">
                                 <p>Cupón de descuento</p>
                              </div>
                              <div class="col-md-8 ">
                                 <input type="text" class="disc_input" name="">
                              </div>
                              <div class="col-md-4 nopad">
                                 <button class="btn btn_checkout btn-default">Agregar</button>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <h3>Resumen de la compra</h3>
                              <div class="col-md-12">
                                 <p><b>Sub total:</b></p>
                              </div>
                              <div class="col-md-8 text-right">
                                 <span>$50.000.000</span>
                              </div>
                              <div class="col-md-8">
                                 <p><b>Total:</b></p>
                              </div>
                              <div class="col-md-8 text-right">
                                 <span>$50.000.000</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <button step-next class="btn btn_checkout">Continuar compra</button>
            <footer class="container-fluid footer_checkout" >
               <div class="row">
                  <div class="col-md-12">
                     
                  </div>
               </div>
            </footer>
         </step>
         <step>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 header_he"></div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>1</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                           <div class="col-md-3 step-Indicator active">
                              <div class="number">
                                 <div>2</div>
                              </div>
                              <p>INGRESA TU CORREO</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>3</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>4</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 divider"></div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-8 col-md-offset-4">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-12">
                              <h2>Ingresa tu mail para continuar la compra. </h2>
                              <h8>Rápido. Fácil. Seguro.</h8>
                           </div>
                           <div class="form group col-md-12">
                              <input type="Ingresa tu correo aquí!" placeholder="Correo" name="">
                              <button class="btn btn_checkout">Aceptar</button>
                              <h3>¿Para que ingresar tu correo?</h3>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Almacenar tus datos</span>
                              </div>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Generar una compra segura</span>
                              </div>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Facilitar tus proximas compras</span>
                              </div>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Llevar un registro de tus compras realizadas</span>
                              </div>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Guardar tus direcciones favoritas de envio</span>
                              </div>
                              <div class="col-md-12">
                                 <span><i class="glyphicon glyphicon-ok"></i> Guardar las facturas de tus compras en tu perfil</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 divider"></div>
               </div>
            </div>
            <button step-next class="btn btn_checkout">Continuar compra</button>
            <footer class="container-fluid footer_checkout" >
               <div class="row">
                  <div class="col-md-12">
                     
                  </div>
               </div>
            </footer>
         </step>
         <step>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>1</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>2</div>
                              </div>
                              <p>INGRESA TU CORREO</p>
                           </div>
                           <div class="col-md-3 step-Indicator active">
                              <div class="number">
                                 <div>3</div>
                              </div>
                              <p>ENVÍO Y PAGO</p>
                           </div>
                           <div class="col-md-3 step-Indicator">
                              <div class="number">
                                 <div>4</div>
                              </div>
                              <p>CARRITO DE COMPRAS</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12 divider"></div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-5 form_separator" ng-show="usuarioData">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-12">
                              <h3><i class="glyphicon glyphicon-user"></i> Identificación</h3>
                              <label>
                              @{{formulario.nombre}} 
                              </label>
                              <span class="col-md-12">@{{formulario.apellidos}}</span>
                              <span class="col-md-12">@{{formulario.telefono}}</span>
                              <span class="col-md-12">@{{formulario.correo}}</span>
                              <span class="col-md-12">@{{formulario.cedula}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 form_separator" ng-show="!usuarioData">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-12">
                              <h3><i class="glyphicon glyphicon-user"></i> Identificación</h3>
                              <span>
                              Solicitamos únicamente la información esencial para la finalización de la compra.
                              </span>
                           </div>
                           <div class="form-group col-md-12">
                              <label for="exampleInputPassword1">Correo</label>
                              <input type="email" class="form-control" id="exampleInputPassword1" ng-model="formulario.correo" placeholder="Correo">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Nombre</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" ng-model="formulario.nombre" placeholder="Nombre">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Apellidos</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" ng-model="formulario.apellidos" placeholder="Apellidos">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Cedula de ciudadania</label>
                              <input type="number" ng-model="formulario.cedula" class="form-control" id="exampleInputPassword1" placeholder="c.c">
                              <label for="exampleInputPassword1">Telefono/Movil</label>
                              <input type="number" class="form-control" id="exampleInputPassword1" ng-model="formulario.telefono" placeholder="# telefono">
                           </div>
                           <div class="col-md-12 pointer divider_empresarial" ng-click="facturaEmpresa()" ng-show="!empresaFactura" ng-model="identificacionEmpresa">
                              <span><i class="glyphicon glyphicon-file"></i> ¿Desea facturar a nombre de una empresa?</span>
                           </div>
                           <div class="col-md-12 pointer divider_empresarial" ng-click="facturaEmpresa()" ng-show="empresaFactura">
                              <span><i class="glyphicon glyphicon-file"></i> Ya no quiero facturar como empresa</span>
                           </div>
                           <div class="form-group col-md-12" ng-show="empresaFactura">
                              <label for="exampleInputPassword1">Razón social</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Razón social">
                           </div>
                           <div class="form-group col-md-12" ng-show="empresaFactura">
                              <label for="exampleInputPassword1">Nombre de la empresa</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la empresa">
                           </div>
                           <div class="form-group col-md-12" ng-show="empresaFactura">
                              <label for="exampleInputPassword1">NIT</label>
                              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="NIT">
                           </div>
                           <div class="form-group col-md-12" ng-show="empresaFactura">
                              <label for="exampleInputPassword1">RUT</label>
                              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="RUT">
                           </div>
                           <div class="col-md-12">
                              <button  class="btn btn_checkout" ng-click="datosIdentificacion()">Continuar compra</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- 
                     <div class="col-md-4 form_separator " id="separator2" ng-show="envioData">
                        
                     </div> -->
                  <div class="col-md-4">
                     <div class="container-fluid form_separator " id="separator" ng-show="envioData">
                        <div class="row">
                           <div class="col-md-12">
                              <h3><i class="glyphicon glyphicon-home"></i> Dirección de envío</h3>
                           </div>
                           <div class="form-group col-md-12">
                              <label for="exampleInputPassword1">Dirección</label>
                              <input type="address" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Piso o apartamento (ej: B201)</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Opcional">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Barrio</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Opcional">
                           </div>
                           <div class="col-md-12 form-group">
                              <label>Departamento</label>
                              <select class="form-control">
                                 <option>Cundinamarca</option>
                                 <option>Cundinamarca</option>
                                 <option>Cundinamarca</option>
                                 <option>Cundinamarca</option>
                                 <option>Cundinamarca</option>
                              </select>
                           </div>
                           <div class="col-md-12 form-group">
                              <label>Ciudad</label>
                              <select class="form-control">
                                 <option>Bogota</option>
                                 <option>Bogota</option>
                                 <option>Bogota</option>
                                 <option>Bogota</option>
                                 <option>Bogota</option>
                              </select>
                           </div>
                           <div class="form-group col-md-12">
                              <label for="exampleInputPassword1">Nombre persona remitente</label>
                              <input type="name" class="form-control" id="exampleInputPassword1" placeholder="">
                           </div>
                           <div class="col-md-12">
                              <button step-next class="btn btn_checkout " ng-click="datosDireccion()">Continuar compra</button>
                           </div>
                        </div>
                     </div>
                     <div class="container-fluid form_separator " id="separator" ng-show="!envioData">
                        <div class="row">
                           <div class="col-md-12">
                              <h3><i class="glyphicon glyphicon-home"></i> Dirección de envío</h3>
                              <p>Aún debes llenar estos datos</p>
                           </div>
                        </div>
                     </div>
                     <div class="container-fluid form_separator " >
                        <div class="row">
                           <div class="col-md-12">
                              <h3><i class="glyphicon glyphicon-credit-card"></i> Pago</h3>
                              <div ng-show="!tarjetaData">
                                  <p>Aún debes llenar estos datos</p>
                              </div>
                              <div class="container-fluid" ng-show="tarjetaData">
                                  <div class="row">
                                  <div class="col-md-12">
                                       <label>Elige un metodo de pago</label>
                                  </div>
                                 
                                         <div class="col-md-4">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img class="payImage" src="images/pay2.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                                       <div class="col-md-4">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img class="payImage" src="images/jilala.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                                       <div class="col-md-4">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img class="payImage" src="images/lll1.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                  </div>
                              </div>
                              
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12" id="separator"></div>
                <!--   <div class="col-md-5 form_separator">
                     <div class="container-fluid">
                        <div class="row" >
                           <div class="col-md-12">
                              <div class="container-fluid">
                                 <div class="row">
                                    <div ng-repeat="tab in tabs" 
                                       ng-class="{active:isActiveTab(tab.url)} col-md-4" 
                                       ng-click="onClickTab(tab)">@{{tab.title}}</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="container-fluid">
                                 <div class="row">
                                    <div ng-include="currentTab"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <script type="text/ng-template" id="one.tpl.html">
                           <div id="viewOne" class="viewTAb">
                           <div class="form-group col-md-12">
                           <div class="container-fluid">
                               <div class="row">
                                    <div class="form-group col-md-12">
                           
                                                <label for="exampleInputPassword1">Numero de tarjeta</label>
                                                <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Opcional">
                                               </div>
                               </div>
                           </div>
                           </div>
                             
                                               <div class="form-group col-md-12">
                                               <div class="container-fluid">
                                                   <div class="row">
                           
                                                       <div class="col-md-3">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img src="images/visa.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img src="images/diner.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                                      <div class="col-md-3">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img src="images/amex.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                                       <div class="col-md-3">
                                                           <div class="radio container-fluid">
                           <label class="row">
                           <div class="col-md-12">
                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           
                           </div>
                           <div class="col-md-12">
                           
                           <img src="images/master.png">
                           </div>
                           </label>
                           </div>
                                                       </div>
                                             
                                                       
                           
                                                   </div>
                                               </div>
                                                
                           
                           
                           
                                               </div>
                                           
                            <div class="col-md-12 form-group">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label>Numero de cuotas</label>
                                                   <select class="form-control">
                           <option>1</option>
                           <option>1</option>
                           <option>1</option>
                           <option>1</option>
                           
                           </select>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>$00.00</p>
                                                                        <span>Recuerda que  los precios no incluyen intereses.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                   
                                               </div>
                           
                                               <div class="col-md-12 form-group">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                <div class="col-md-12 form-group">
                                                                    <label for="exampleInputPassword1">Nombre de como figura la tarjeta</label>
                                                <input type="name" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                </div>
                                                                    
                                                                </div>
                                                            </div>
                                                   
                                               </div>
                                               <div class="col-md-12 form-group">
                                                   <div class="container-fluid">
                                                       <div class="row">
                                                       <div class="col-md-4">
                                                           <label>Fecha de vencimiento</label>
                                                       </div>
                                                            <div class="col-md-3 nopad">
                                                                        <select name="cardExpirationMonth" data-bind="" class="form-control">
                                                                        <option value="">MM</option>
                                                                        <option value="01">01</option>
                                                                        <option value="02">02</option>
                                                                        <option value="03">03</option>
                                                                        <option value="04">04</option>
                                                                        <option value="05">05</option>
                                                                        <option value="06">06</option>
                                                                        <option value="07">07</option>
                                                                        <option value="08">08</option>
                                                                        <option value="09">09</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>            
                                                                         </select>
                                        
                                                                    </div>
                                                                    
                                                                   <div class="col-md-3 nopad">
                                                                       <select name="cardExpirationYear" class="form-control" >
                                                                       <option value="">AA</option>
                                                                       <option value="16">16</option>
                                                                       <option value="17">17</option>
                                                                       <option value="18">18</option>
                                                                       <option value="19">19</option>
                                                                       <option value="20">20</option>
                                                                       <option value="21">21</option>
                                                                       <option value="22">22</option>
                                                                       <option value="23">23</option>
                                                                       <option value="24">24</option>
                                                                       <option value="25">25</option>
                                                                       <option value="26">26</option>
                                                                       </select>
                                                                   </div> 
                                                       </div>
                                                   </div>
                                               </div>
                                                <div class="col-md-12 form-group">
                                                   <div class="container-fluid">
                                                       <div class="row">
                           <div class="col-md-12 form-group">
                                                                    <label for="exampleInputPassword1">Nombre de como figura la tarjeta</label>
                                                <input type="name" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                </div>
                                                       </div>
                                                   </div>
                                               </div> 
                                                <div class="col-md-12 form-group">
                                                   <div class="container-fluid">
                                                       <div class="row">
                           <div class="col-md-12 form-group">
                                                                    <label for="exampleInputPassword1">Documento de identidad</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                </div>
                                                       </div>
                                                   </div>
                                               </div>     
                                               <div class="col-md-12 form-group">
                                                   <div class="container-fluid">
                                                       <div class="row">
                                                           <div class="col-md-12 form-group">
                                                               <label>
                                                               <input type="checkbox" ng-model="direccionigual"> Mi dirección de facturación es la misma de la entrega</label>
                                                           </div>
                                                           
                                                       </div>
                                                   </div>
                                               </div>  
                                               <div class="col-md-12 form-group" ng-show="!direccionigual">
                                                               <div class="container-fluid">
                                                                   <div class="row">
                                                                       <div class="col-md-12 form-group">
                                                                           <label>Direccion</label>
                                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                       </div>
                                                                       <div class="col-md-12 form-group">
                                                                           <label>Piso o apartamento (ej: B201) </label>
                                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                       </div>
                                                                         <div class="col-md-12 form-group">
                                                                           <label>Barrio</label>
                                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="(*)">
                                                                       </div>
                                                                            <div class="col-md-12 form-group">
                                                   <label>Departamento</label>
                                                   <select class="form-control">
                           <option>Cundinamarca</option>
                           <option>Cundinamarca</option>
                           <option>Cundinamarca</option>
                           <option>Cundinamarca</option>
                           <option>Cundinamarca</option>
                           </select>
                                               </div>
                                                  <div class="col-md-12 form-group">
                                                   <label>Ciudad</label>
                                                   <select class="form-control">
                           <option>Bogota</option>
                           <option>Bogota</option>
                           <option>Bogota</option>
                           <option>Bogota</option>
                           <option>Bogota</option>
                           </select>
                                               </div>
                           
                                                               </div>
                                                           </div> 
                           
                           </div>
                        </script>
                        <script type="text/ng-template" id="two.tpl.html">
                           <div id="viewTwo" class="viewTAb">
                               <h1>View Two</h1>
                               <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
                           </div>
                        </script>
                        <script type="text/ng-template" id="three.tpl.html">
                           <div id="viewThree" class="viewTAb">
                               <h1>View Three</h1>
                               <p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
                           </div>
                        </script>
                     </div>
                  </div> -->
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-3">
                  </div>
               </div>
            </div>
            <footer class="container-fluid footer_checkout" >
               <div class="row">
                  <div class="col-md-12">
                     
                  </div>
               </div>
            </footer>
         </step>
      </steps>
   